:root{
    --primary: #ddd !important;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}
body{
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #5e5e5e;
    padding: 10px;
}
.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding:20px 0;
    font-size: 30px;
}
.grid-photo {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    background-color: #5e5e5e;
    padding: 10px;
}
.grid-photo div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding:20px 0;
    font-size: 30px;
}
.grid-container-one{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    background-color: #5e5e5e;
    padding: 10px;
}
.error{
    background:#f06226;
    padding: 10px;
    margin: 10px 0;
}
.error{
    color: #000;
    font-weight: bold;
}
.success{
    background: #4effa5;
    padding: 10px;
    margin: 10px 0;
}
.success{
    color: #000;
    font-weight: bold;
}
.top-container{
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
            'showcase showcase top-box-a';
}
.top-box{
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}
.top-box-a{
    grid-area: top-box-a;
}

.btnDark{
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    cursor: pointer;
}
.wrapper{
    display: grid;
    grid-gap: 20px;
}
.main-nav ul{
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}
.main-nav a{
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}
.main-nav a:hover{
    background: var(--dark);
    color: var(--light);
}
.foot{
    position: fixed; bottom: 10px;
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
    right: 50px;
    left: 50px;
}
.scrollToTop{
    text-decoration: none;
    position:fixed; bottom: 100px;
    box-sizing: border-box;
    border: #666 solid 1px;
    border-radius: 15px;
    width:80px;
    height:80px;
    padding:10px;
    text-align:center;
    background: #5e5e5e;
    font-weight: bold;
    color: #444;
    right:40px;
    display:none;
    background: no-repeat 0px 20px;
}
.scrollToTop:hover{
    text-decoration:none;
    background-color: darkgray;
    cursor: pointer;
}
.myButton {
    -moz-box-shadow: 3px 4px 0px 0px #1564ad;
    -webkit-box-shadow: 3px 4px 0px 0px #1564ad;
    box-shadow: 3px 4px 0px 0px #1564ad;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
    background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
    background-color:#79bbff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #337bc4;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:12px 44px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
    background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
    background-color:#378de5;
}
.myButton:active {
    position:relative;
    top:1px;
}
@media (max-width:800px) {
    #container{
        width: 90%;
    }
}
@media (max-width: 800px) {
    .top-container{
        grid-template-areas:
                'showcase showcase'
                'top-box-a top-box-b';
    }
    .showcase h1{
        font-size: 2.5rem;
    }
    .main-nav ul{
        grid-template-columns: 1fr;
    }
    .info{
        grid-template-columns: 1fr;
    }
    .info .btn{
        display: block;
        text-align: center;
        margin: auto;
    }
    @media (max-width: 500px) {
        .top-container{
            grid-template-areas:
                    'showcase'
                    'top-box-a';
        }
    }
}

